<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式， 命名空间的值必须与映射接口的全限定名一致 -->
<mapper namespace="com.yc.law.mapper.BackDataMapper">
	<resultMap type="TypePage" id="TypePageMap">
		<id column="page" property="page"/>
		<result column="rowss" property="rows"/>
		<result column="total" property="total"/>
		<collection property="typeList" column="ntid"  ofType="Type">
			<id column="ntid" property="ntid"/>
			<result column="ntname" property="ntname"/>
			<result column="status" property="status"/>
			<result column="usid" property="usid"/>
			<result column="usname" property="usname"/>
			<result column="note" property="note"/>
		</collection>
	</resultMap>
	<select id="getTypeByPage" parameterType="TypePage" resultMap="TypePageMap">
		select ${page} page,${rows} rowss,(select count(1) from newsType) total,nn.* from
(select rownum rn,a.* from 
(select ntid,ntname,status,n.usid,l.usname,n.spare_A note from newsType n left join law_user l on n.usid=l.usid ) a where #{page}*#{rows}>=rownum) nn where rn>(#{page}-1)*#{rows} 
		
	</select>
	<insert id="addTypes" parameterType="Type">
		insert into newsType values(seq_newsType_id.Nextval,#{ntname},#{status},#{usid},#{note},null,null)
	</insert>
	
	<update id="delTypes" parameterType="int">
		delete from newsType where ntid in
		<foreach collection="list" open="(" close=")" separator="," item="ntids">#{ntids}</foreach>
	
	</update>
	<update id="updateType" parameterType="Type">
		update newsType set ntname=#{ntname},status=#{status},usid=#{usid},spare_A=#{note} where ntid=#{ntid}
	</update>
	<update id="updateGeneralUserStatus" parameterType="User">
		update law_user set law_user_status=#{law_user_status},law_user_status_explain=#{law_user_status_explain} where usid=#{usid}
	</update>
	<resultMap type="LawContentPage" id="LawContentPageMap">
		<id column="page" property="page"/>
		<result column="rowss" property="rows"/>
		<result column="total" property="total"/>
		<collection property="lawContents" column="nid" ofType="LawContent">
			<id column="nid" property="nid"/>
			<result column="ntname" property="ntname"/>
			<result column="partName" property="partName"/>
			<result column="partid" property="partid"/>
			<result column="title" property="title"/>
			<result column="ndate" property="ndate"/>
			<result column="weight" property="weight"/>
			<result column="picpath" property="picpath"/>
			<result column="vediopath" property="vediopath"/>
			<result column="voicepath" property="voicepath"/>
			<result column="views" property="views"/>
			<result column="author" property="author"/>
			<result column="flag" property="flag"/>
			<result column="news_file" property="news_file"/>
			<result column="usname" property="usname"/>
			<result column="status" property="status"/>
		</collection>
	</resultMap>
	
	 <select id="getWavesByPage" parameterType="LawContentPage" resultMap="LawContentPageMap">
		select ${page} page,${rows} rowss,(select count(1) from news) total,nn.* from 
		(select rownum rn ,a.* from
		(select n.partid,p.partname,n.nid,n.title,to_char(n.ndate,'yyyy-MM-dd hh24:mm:ss') ndate,n.weight,n.picpath,n.vediopath,n.voicepath,n.views,n.author,n.flag,n.news_file,n.status,l.usname,nt.ntname 
		from part p right join news n on p.partid=n.partid 
        left join law_user l on l.usid=n.usid 
        left join newsType nt on nt.ntid=n.nitid order by ndate desc,ndate asc)a where #{page}*#{rows}>=rownum and partid in 
        <foreach collection="partid" open="(" close=")" separator="," item="partid">#{partid}</foreach>) nn where rn>(#{page}-1)*#{rows}
	</select>
	
	<select id="findMaxWeightFromNews" parameterType="int" resultType="int">
		select max(weight) from news where partid=#{0} and nid!=#{1} 
	</select>
	<update id="setTop" parameterType="int">
		update news set weight=#{1} where nid=#{0}
	</update>
	<update id="setDown" parameterType="int" >
		update news set weight=weight-1 where nid=#{0}
	</update>
	<update id="delNews" parameterType="int">
		delete from news where nid in
		<foreach collection="list" open="(" close=")" separator="," item="nids">#{nids}</foreach>
	</update>
	<update id="changeNewsFlag">
		update news set flag=#{0} where nid=#{1}
	</update>
	<update id="changeNewsStatus">
		update news set status=#{0} where nid=#{1}
	</update>
	<select id="getNewsTypeName" resultType="EasyType">
		select ntid,ntname from newsType
	</select>
</mapper>