<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式， 命名空间的值必须与映射接口的全限定名一致 -->
<mapper namespace="com.yc.law.mapper.WaveNewsMapper">
	<select id="getWaveNewsTotal" parameterType="Integer" resultType="Integer">
		select count(*) from news where partid=#{partId}
	</select>
	
	<select id="findWaveNewsByPage" resultType="LawContent">
		select * from (select rownum rn,a.* from (select * from news where partid = #{2} and flag='Y' order by weight desc,ndate desc) a where #{0} * #{1} >= rownum) where rn> + (#{0} - 1)* #{1}
	</select>
	
	<select id="findWaveContentByNid" parameterType="int" resultType="LawContent">
		select nid,nitid,partid,title,to_char(ndate,'yyyy-MM-dd') ndate,weight,content,picpath,vediopath,voicepath,views,author,news_file,status from news where nid=#{nid} and status='Y'
	</select>
</mapper>