.fiv_main{
	width:500px;
	height:100px;
}

.friInfo{
	color:red;
	font-size:14px;
}

.lunboPic{
	margin:0 auto;
	padding:0 0;
	height:450px;
	width:1000px;
}

.mainLunboPic{
	height:50%;
	width:100%;
}

.mainLunboPic .lunboTop{
	width:30%;
	height:85%;
	float:left;	
	margin-left:25px;
	margin-top:10px;
	text-align: center;
}

.mainLunboPic .lunboTop a,.mainLunboPic .lunboBottom1 a,.mainLunboPic .lunboBottom2 a{
	font-size:14px;
	color:#666666;
}

.mainLunboPic .lunboTop a:hover,.mainLunboPic .lunboBottom1 a:hover,.mainLunboPic .lunboBottom2 a:hover{
	font-size:15px;
	color:#096;
}

.mainLunboPic .lunboBottom1,.mainLunboPic .lunboBottom2{
	width:30%;
	height:90%;
	float:left;	
	margin-top:10px;
	text-align: center;
}

.mainLunboPic .lunboBottom1{
	margin-left:180px;
}

.mainLunboPic .lunboBottom2{
	margin-left:50px;
}

