.changeColorStyle{
	width:200px;
	height:100px;
	float:left;
	margin-left:80px;
	margin-top:50px;
}

#blueStyle{
	width: 95%;
	height:95%;
	background-color: #1A519C;
	margin-bottom: 10px;
}

#grayStyle{
	width: 95%;
	height:95%;
	background-color: #644f2b;
	margin-bottom: 10px;
}

#redStyle{
	width: 95%;
	height:95%;
	background-color: #cd0505;
	margin-bottom: 10px;
}

#yellowStyle{
	width: 95%;
	height:95%;
	background-color: #DB9A29;
	margin-bottom: 10px;
}

.jumpChangeCss{
	text-align: center;
}

.jumpChangeCss a{
	color:#000;
	text-decoration: none;
}

.jumpChangeCss a:hover{
	color:#4989BB;
	text-decoration:underline;
	font-size: 16px;
}