@charset "UTF-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
}
body{
	background:url(../images/load_background.jpg) no-repeat;
	width:100%;
	height:100%;
}
.err{
    color:red;
    font-size:12px;
	padding-left:30px;
	padding-top:4px;
	background:url(../images/onError.gif) no-repeat;
}
.ok{
    height: 40px;
	padding-left:150px;
	background:url(../images/onCorrect.gif) no-repeat;
}
.content{
	border:3px #ddd solid;
	border-radius:5px; 
	width:450px;
	height:550px;
	margin:100px 0px 0px 200px;
	background:#FDFDFD;
}
.content .qiehuan{
	width:274px;
	height:50px;
	margin:30px 0 0 50px;
}
.content form{
	margin:15px 0 30px 50px;
	width:350px;
	height:300; 
}
.content form table{
	width: 385px;
}
.content form input{
	border-radius:5px;
	border:1px #ddd solid;
	height:35px;
	width:220px;
	margin-bottom:5px;
	padding-left:10px;
}
.content form .check{
	width:100px;
	padding:0px;
	background-color:#006699;
	color:#FFF;
}
.content form .check:hover{
	cursor:pointer;
	background-color:#03f;
}
.content form .btn{
	width:285px;
	margin-top:10px;
	background:#006699;
	color:#FFF;
	font-size:18px;
}
.content form .yzm{
	width:120px;
	margin: 0 5px 0 0 ;
}
.content form .btn:hover{
	background:#03f;
	cursor:pointer
}
.content form p{
	margin:8px 0 8px 0;
	font-size:14px;
}