 /* 以案释法 */
 .content .right .lii{
 	height:25px;
 }

 .content .right .story_main{
 	font-size:16px;
 	color:#666666;
 }
 
  .content .right .story_main .story_main_pic{
 	float:left;
 }
 
 .content .right .story_main .story_main_title{
 	float:left;
 	margin-left:10px;
 }
 
 
   .content .right .story_main .story_main_link{
 	float:right;
 }
 
   .content .right .story_main a{
 	color:#666666;
   } 

 .content .right .story_main a:hover{
 	color:red;
 }
 
  .content .right .story_main .story_main_con{
 	float:right;
 	color:#999;
 }
 
 /*名人说法  */
 .model .content .right .newstory{
 	width:800px;
 	margin:0 30px;
 }
 
  .model .content .right .newstory .newstory_main{
 	width:100%;
 	margin:0 10px;
 }

.model .content .right .newstory .newstory_main_title{
		word-break:break-all;
}

.model .content .right .newstory .newstory_main_link{
		font-size:14px;display: inline-block;margin-top:60px;
}

.model .content .right .newstory .newstory_main_cont{
		color: #999;font-size:14px;text-indent: 2em;font-family: "华文楷体";
}

/*特效*/
	div.flip-3d { 
	  perspective: 1200px; width: 33%; float: left;  
	}
	div.flip-3d figure { 
	  position: relative; 
	  transform-style: preserve-3d; 
	  transition: 1s transform;
	  font-size: 1.6rem; 
	}
	div.flip-3d figure img { 
	  width: 100%; height: auto; 
	}
	div.flip-3d figure figcaption { 
	  position: absolute; 
	  width: 100%; height: 100%; top: 0; 
	  transform: rotateY(.5turn) translateZ(1px); 
	  background: rgba(255,255,255,0.9); 
	  text-align: center; 
	  opacity: 0.6; 
	  transition: 1s .5s opacity; 
	}
	div.flip-3d:hover figure { transform: rotateY(.5turn); }
	div.flip-3d:hover figure figcaption { opacity: 1; }
	div.flip-3d figure:after { 
	  content: " "; display: block;
	  height: 8vw; width: 100%; 
	  transform: rotateX(90deg); 
	  background-image: radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%); 
	}

	@media screen and (max-width: 800px) { 
	  div#flip-3d { perspective-origin: center top; }
		div#flip-3d figure { 
	    float: none; 
	    width: 50%; 
	    margin: 0 auto; 
	    margin-bottom: 12vw; 
	  }
	  div.flip-3d figure figcaption{font-size: 0.8rem;}
		div#flip-3d figure:last-child { display: none; }
	}
	
